
FreeCad/frameTubeType3.FCStd1
FreeCad/frameMof.FCStd1
/FreeCad/inqdoLogo.FCStd1
/FreeCad/picoBracket_v2.FCStd1
/FreeCad/picoBracket.FCStd1
FreeCad/frameTubeType2.FCStd1
FreeCad/picoBracketLid.FCStd1
FreeCad/neopixelbracket.FCStd1
FreeCad/neopixelbracket_I.FCStd1
FreeCad/neopixelbracket_N.FCStd1
FreeCad/neopixelbracket_Q.FCStd1
FreeCad/neopixelbracket_D.FCStd1
FreeCad/neopixelbracket_O.FCStd1
/FreeCad/batteryHolder.FCStd1
/FreeCad/frameTubeType5.FCStd1
/FreeCad/wireCram.FCStd1
/.idea/inqdoLogo.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
FreeCad/batteryHolderCap.FCStd1
FreeCad/flam.FCStd1
